<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body class="body">
<div class="myDiv">
  <div class="container">
      <h1>Login</h1>
        <p>Please Login to Continue</p>
          <form [formGroup]='rForm' (ngSubmit)='loginFunction(rForm.value)'>
            <fieldset>
              <legend>Email:</legend>
                <input type="email" formControlName='email' placeholder="enter username/email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" class="textbox">
            </fieldset>
            <div class="alertMsg" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Please Enter Proper Email
            </div>
            <fieldset>
              <legend>Password:</legend>
                <input type="password" formControlName='password' placeholder="enter password" class="textbox">
              </fieldset>
              <div class="alertMsg" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Please Enter Proper Password
              </div>
                <a href="#" class="forget_pass">Forget password?</a>
                  <div class="buttons">
                    <input type="submit" class="btn"  value="Login" [disabled]="!rForm.valid">
                  
    <a href="" class="forget_pass">create an Account</a>
                  </div>
                  </form>
                  
    <div class="otherLogin">
        <input type="button" class="Otherbtn" value="twitter">
        <input type="button" class="Otherbtn" value="facebook">
        <input type="button" class="Otherbtn" value="google">
    </div>
  </div>
  </div>
</body>
</html>